/* Fonts from Google Fonts - https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Staatliches:400,700");
@import url("https://fonts.googleapis.com/css?family=Lexend:400,700");

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend';
  text-align: center;
  background-color: #131723 !important;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.center {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
  margin: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
  border: 4px solid white;
  border-radius: 25px;
  background: rgba(19, 23, 35, 0.8);
  box-shadow: 0px 0px 20px white;
  padding: 25px;
  font-size: 24px;
}

h1 {
  font-family: Staatliches;
  color: white;
  font-size: 69px;
}

h2 {
  font-family: Staatliches;
  color: white;
  font-size: 48px;
  padding-top: 30px;
}

.titlefont {
  font-family: Staatliches;
  color: white;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foot {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  font-size: 12px;
  font-family: Lexend;
}

.top {
  padding: 30px;
  text-align: center;
  margin: 30px;
}

.link {
  width: 50px;
  height: 50px;
}

.socials {
  margin-bottom: 30px;
}

.content {
  border-top-style: solid;
  padding: 30px;
  text-align: center;
}

.content p {
  font-size: 16px;
  margin: 30px;
}

.content h3 {
  font-family: Staatliches;
  color: purple;
  font-size: 40;
}

span.bold {
  color: rgb(57, 126, 172);
  font-weight: bold;
}

p1 {
  font-family: Staatliches;
  color: white;
  font-size: 69px;
  padding-top: 5px;
}

.list-items-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list-items {
  position: relative;
  text-align: left;
  max-width: 60%;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1400px) {
  .list-items {
    max-width: 100%;
    left: 0%;
  }
}

.content img {
  height: 100px;
}

.member {
  margin: auto;
  text-align: center;
  max-width: 400px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

strong {
  color: cyan;
}

a {
  color: orange;
}

span {
  font-weight: 200;
  font-size: 17px;
}

code {
  background-color: #141414;
  color: orange;
}

#hotlinks {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #777575c5;
  font-family: Staatliches;
  letter-spacing: 2px;
}

#hotlinks li,
#hotlinks a,
#hotlinks button {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

#hotlinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  width: 100%;
}

#hotlinks .nav {
  margin-left: auto;
  margin-right: auto;
}

#hotlinks .nav_links {
  list-style: none;
  padding: 0;
  margin: 0;
}

#hotlinks .nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

#hotlinks .nav_links li a {
  transition: 0.3s;
}

#hotlinks .nav_links li a:hover {
  color: purple
}

#discord {
  width: 500px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #discord {
    width: 90%;
    max-width: 360px;
  }

  #topBtn {
    padding: 5px;
    border-radius: 8px;
    font-size: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #discord {
    width: 60%;
    max-width: 500px;
  }
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: purple;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-family: Staatliches;
}

#topBtn:hover {
  background-color: #525151;
}

span.gold {
  color: gold;
}

span.purple {
  color: purple;
}

.phase-section {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

.phase-section:not(:empty) {
  background-color: #333;
}

.phase-section h3 {
  font-size: 20px;
  color: whitesmoke;
}

.phase-section span {
  color: gold;
}

.phase-section h3:not(.active):not(.future) {
  color: purple;
}

.phase-section h3.active {
  color: gold;
}

.phase-section h3:not(.active):not(.future):after {
  content: " (complete)";
}

.phase-section h3.active::after {
  content: " (in progress)";
}

.phase-section h3.future::after {
  content: " (upcoming)";
}

.phase-section ul {
  list-style: square;
  padding-left: 20px;
}

.phase-section ul li {
  margin-bottom: 10px;
}

.phase-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 15%));
  gap: 20px;
  justify-content: center;
}
